* {
  box-sizing: border-box;
  margin: 0;
  font-family: monospace;
}

body {
  /* background-color: rgb(222, 222, 203); */
  background-color: #F0F4EF;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
  font-size: 20px;
}

#application {
  display: flex;
  margin: 20px;
  margin-top: 0px;
  padding: 25px;
  border-radius: 7px;
  justify-content: space-evenly;
  /* gap: 40px; */
  /* background-color: rgb(234, 234, 214); */
  background-color: #b8c4be;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.controls button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* background-color: #8E8358; */
  /* background-color: #697A21; */
  border: 0px double #023C40;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 500;
  width: 120px;
  height: 40px;
  box-shadow: 3px 3px 5px grey;
  font-family: monospace;
}

.controls button:hover {
  /* background-color: black; */
  background-color: #023C40;
  color: white;
}

#paintColor {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120px;
  gap: 10px;
}

#colorPicker {
  appearance: none;
  background-color: transparent;
  border: none;
  width: 100px;
  height: 100px;
  cursor: pointer;
  -webkit-appearance: none;
}
#colorPicker::-webkit-color-swatch {
  border-radius: 50%;
  /* border: 5px double #8d8282; */
}

#gritControls {
  margin-left: 0;
  justify-content: flex-end;
  padding: 0px;
  padding-bottom: 10px;
  height: auto;
}

/* #gritControls button {
      box-shadow: none; 
} */

#canvas {
  display: flex;
  flex-shrink: 0;
  align-content: flex-start;
  flex-wrap: wrap;
  /* margin-left: 50px; */
  width: 520px;
  height: 520px;
  border: 0px solid rgb(0, 0, 0);
  border-radius: 4px;
  box-shadow: 4px 4px  5px rgb(157, 157, 141);
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gritOn {
  border: 0.5px solid rgb(198, 198, 198);
}

.tile:hover {
  background-color: rgb(166, 166, 166);
}